	<div id="navupdiv"><div id="navdiv"><ul id="nav">
	    <li><a href="/"><strong>Blog</strong></a></li>
	    <li><a href="/projects/"><strong>Projects</strong></a></li>
	    <li><a href="#contact"><strong>Contact</strong></a></li>
	    <li><a href="http://store.lisk.in/tmp/perm/janousek_cv_en.pdf"><strong>My CV</strong></a></li>
	    <li></li>
	    <li><a href="http://school.lisk.in/"><strong>School stuff</strong></a></li>
	    <li><a href="/stuff/"><strong>Old & random stuff</strong></a></li>
	</ul></div></div>
