	<div id="nadpis">
	    <h1 class="center">Tomáš Janoušek, a bug slayer</h1>
	</div>
	<div id="navupdiv"><div id="navdiv"><ul id="nav">
	    <li><a href="/"><strong>Blog</strong></a></li>
	    <li><a href="/projects/"><strong>Projects</strong></a></li>
	    <li><a href="/contact/"><strong>Contact</strong></a></li>
	    <li><strong>Old stuff</strong><ul>
		<li><a href="/gaming/">Half-Life server tools and other gaming stuff</a></li>
		<li><a href="http://svn.nomi.cz/svn/tomi/">My old subversion repository</a></li>
		<li><a href="http://foto.nomi.cz/tomi">My old photogallery</a></li>
		<li><a href="http://irc.nomi.cz/tmp/ratbox/">A few IRCd patches</a></li>
	    </ul></li>
	    <li><strong>Random stuff</strong><ul>
		<li><a href="http://tomi.nomi.cz/scratch/">The place of some "interesting" stuff :)</a>
		</li>
		<li><a href="http://tomi.nomi.cz/tmp/">And the place of some temporary stuff</a></li>
	    </ul></li>
	</ul></div></div>
