	<div id="nadpis">
	    <h1 class="center">Tomáš Janoušek, a.k.a. Liskni_si</h1>
	    <div class="clear"></div>
	</div>
	<div id="navupdiv"><div id="navdiv">
	    <ul id="nav">
		<li><strong><a href="/">Blog / News</a></strong></li>
		<li><strong>About me</strong>
		<ul>
		    <li><a href="http://work.lisk.in/">Contact</a></li>
		    <li><a href="http://work.lisk.in/">Personal info, etc.</a></li>
		    <li><a href="http://foto.nomi.cz/tomi">My photogallery
		    (in czech)</a></li>
		    <li><a href="?page=blogindex">Complete index of my blog</a></li>
		</ul>
		</li>
		<li><strong>My work</strong>
		<ul>
		    <li><a href="http://nomi.cz/en/projects.shtml">Projects on nomi.cz</a></li>
		    <li><a href="http://nomi.cz/download/patches/">Patches on nomi.cz</a></li>
		    <li><a href="http://irc.nomi.cz/tmp/">Some crap for irc.nomi.cz</a></li>
		    <li><a href="http://svn.nomi.cz/svn/tomi/">Personal subversion repository</a></li>
		    <li><a href="?page=gaming">My work for gaming</a></li>
		</ul>
		</li>
		<li><strong>My stuff</strong>
		<ul>
		    <li><a href="http://tomi.nomi.cz/scratch/">The place of some "interesting" stuff :)</a>
		    </li>
		    <li><a href="http://tomi.nomi.cz/tmp/">And the place of some temporary stuff</a></li>
		    <li><a href="http://tomi.nomi.cz/download/">Also, the place of some downloads</a></li>
		    <li><a href="http://tomi.nomi.cz/yum/">And finally my yum repositories</a></li>
		</ul>
		</li>
		<li><strong>Friends</strong>
		<ul>
		    <li><a href="http://ondrej.org/">Ond¿ej Nový (onovy)</a></li>
		    <li><a href="http://pitel.borec.cz/">Jan Kaláb (Pitel)</a></li>
		    <li><a href="http://purportex.org/">Alex Butin (purportex[X])</a></li>
		    <li><a href="http://montik.net/">Martin Sivák (MarSik)</a></li>
		</ul>
		</li>
	    </ul>
	</div></div>
