body {
    background-color: #dfffcf;
    text-align: justify;
    margin: 3em;
}

.mensi  { font-size: smaller; }
.center { text-align: center; }
.right  { text-align: right;  }
.clear  { clear: both;        }

a:link { color: #000050; }
a:visited { color: #000050; }
a:hover { background-color: #080; color: white; text-decoration: none; }
a.apic:hover { background-color: transparent; color: #000080; }
img { border-width: 0px; }
img.middle { vertical-align: middle; }
#content p img { display: block; width: 95%; margin: 1.5em auto; }

div { padding: 0em; margin: 0em; }
p, h1, h2, h3, ul, ol, dl { margin: 10px 0px; padding: 0px; }
ul,ol,dl { margin-left: 2em; }
ul { list-style-type: square; }
hr { width: 80%; }
dt { margin-top: 0.5em; }

table {
    margin: 0.5em;
    padding: 0em;
    border-width: 0px;
}
td { padding: 0.1em 0.3em; margin: 0px; }
th { text-align: left; }
tr { vertical-align: top; }
table.border { border-width: 1px; }


div#nadpis {
    margin: -3em -3em 0em -3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #cfffbf;
}

div#content, article#content {
    margin: 3em auto;
    max-width: 40em;
    padding: 2em;
    background-color: #eeffe6;
    border: 1px solid #dedede;
}


ul.posts {
    list-style-type: none;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #333;
    font-family: monospace;
}
