---
---

@mixin color-scheme-light {
	--color-scheme: light;

	--body-color: #000;
	--body-bg-color: #eee;

	--header-bg-color: #f8f8f8;
	--header-border-color: #ccc;
	--nav-hover-color: #000;

	--content-bg-color: #fff;
	--content-subheader-color: #888;

	--link-color: #005;
	--link-hover-bg-color: #346;
	--link-hover-color: #fff;
	--tag-link-color: #334;

	--light-border-color: #ddd;
	--light-frame-color: #111;
	--light-frame-bg-color: #fafaff;

	--mark-border-color: #ca8;
	--mark-frame-bg-color: #fed;

	--anchor-target-highlight-color: #f88;
	--abbr-underline-color: #888;
	--blockquote-border-color: #bbb;
}

@mixin color-scheme-dark {
	--color-scheme: dark;

	--body-color: #ddd;
	--body-bg-color: #000;

	--header-bg-color: #080808;
	--header-border-color: #333;
	--nav-hover-color: #ddd;

	--content-bg-color: #111;
	--content-light-bg-color: #f8f8f8;
	--content-subheader-color: #aaa;

	--link-color: #eec;
	--link-hover-bg-color: #fed;
	--link-hover-color: #000;
	--tag-link-color: #bba;

	--light-border-color: #333;
	--light-frame-color: #eee;
	--light-frame-bg-color: #1a1a1a;

	--mark-border-color: #862;
	--mark-frame-bg-color: #321;

	--anchor-target-highlight-color: #820;
	--abbr-underline-color: #aaa;
	--blockquote-border-color: #555;
}

:root {
	@include color-scheme-light;
	@media screen {
		@media (prefers-color-scheme: dark) { @include color-scheme-dark; }
		&.color-scheme-light { @include color-scheme-light; }
		&.color-scheme-dark { @include color-scheme-dark; }
	}
}

:root {
	@media screen {
		@media (min-width: 75em) {
			font-size: 110%;
		}
		@media (min-width: 100em) {
			font-size: 120%;
		}
	}
}

a, a:link, a:visited, button { color: var(--link-color); }
a:hover, button:hover { background-color: var(--link-hover-bg-color); color: var(--link-hover-color); text-decoration: none; }
svg a:hover { opacity: 0.5; }
button { border: 0; background-color: unset; padding: 0; line-height: inherit; cursor: pointer; }

a.tag, a.tag:link, a.tag:visited { color: var(--tag-link-color); }
a.tag:hover { color: var(--link-hover-color); }

div { padding: 0; margin: 0; }
p, h1, h2, h3, ul, ol, dl { margin: 1ex 0; padding: 0; }
ul,ol,dl { margin-left: 2em; }
ul { list-style-type: square; }
ul ul { margin-bottom: 0; }
li:not(:last-child) { margin-bottom: 0.5em; }
hr { width: 80%; }
blockquote { border-left: 2px solid var(--blockquote-border-color); padding-left: 1ex; margin-left: 1ex; }
hr { width: 90%; height: 0; border: 0; border-top: solid 1px var(--body-color); background: transparent; margin: 2em auto; }

kbd {
	display: inline-block;
	border-radius: 3px;
	border: 1px solid var(--light-border-color);
	color: var(--light-frame-color);
	background-color: var(--light-frame-bg-color);
	font-weight: bold;
}

emoji { font-family: emoji; font-variant-emoji: emoji; }
.larger { font-size: larger; }
.smaller { font-size: smaller; }
.x-smaller { font-size: 70%; }
.xx-smaller { font-size: 50%; }

table {
	margin: 0.5em;
	padding: 0em;
	border-width: 0;

	td { padding: 0.2em 0.5em; margin: 0; }
	th { text-align: center; }
	tr { vertical-align: top; }
}

body {
	color: var(--body-color);
	margin: 0;
	line-height: 1.4;

	@media screen {
		font-family: sans-serif;
		background-color: var(--body-bg-color);
	}

	@media print {
		font-family: serif;
		margin: 0 1cm;
	}
}

body > header {
	margin: 0;
	padding: 0;

	@media screen {
		background-color: var(--header-bg-color);
		border-bottom: 3px solid var(--header-border-color);
	}

	nav {
		h1 {
			text-align: center;
			margin: 0;
			padding: 0.5em 0.6rem;
			font-size: 1.2em;

			@media print {
				padding: 0;
				text-align: right;
			}
		}

		@media screen and (min-width: 45em) {
			max-width: 50em;
			margin: 0 auto;

			display: grid;
			grid-template-columns: auto auto;
			justify-content: space-between;

			h1 {
				text-align: left;
			}

			ul {
				align-self: end;
			}
		}

		ul {
			@media print {
				visibility: hidden;
			}

			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			margin: 0 auto;
			padding: 0;

			list-style-type: none;

			li {
				display: inline-block;
				margin-bottom: 0 !important;
				padding: 0;
				vertical-align: bottom;

				a, button {
					display: block;
					padding: 0.2rem 0.6rem;
					text-decoration: none;
					font-weight: bold;
				}

				&:hover a, &:hover button {
					background-color: var(--nav-hover-color);
				}
			}
		}
	}
}

body > footer, div.utterances {
	@media screen {
		max-width: 45em;
		margin: 1em auto;
	}

	@media print {
		display: none;
	}
}

body > header, body > footer {
	a svg {
		vertical-align: middle;
		height: 1em;
		fill: var(--link-color);
	}

	a:hover svg {
		fill: var(--link-hover-color);
	}
}

body > footer {
	text-align: right;
}

main {
	padding: 1em;

	@media screen {
		margin: 0 auto;
		padding: 0.5em;
		background-color: var(--content-bg-color);
		border-bottom: 2px solid var(--light-border-color);
	}

	@media screen and (min-width: 45em) {
		box-sizing: border-box;
		padding: 2em;
		max-width: 45em;
		border: 2px solid var(--light-border-color);
		border-top: none;
	}

	dl#posts {
		margin: 0;

		dt { margin-top: 0.5em; }
		dd { margin-inline-start: 2em; }
		dd > a:first-child { display: block; font-size: 1.1em; text-wrap: balance; }
	}

	dl#posts-all {
		margin: 0;
		display: grid;
		grid-template-columns: max-content auto;
		grid-gap: 0.5em;

		dd { margin: 0; }
		dd > a:first-child { display: block; text-wrap: balance; }
	}

	> article > header {
		p, a { text-align: right; color: var(--content-subheader-color); }
		a:hover { color: var(--link-hover-color); }
	}

	> article.hyphenate {
		@media print { hyphens: auto; }
		@media screen and (max-width: 30em) { hyphens: auto; }
	}

	h1 { font-size: 1.5em; text-wrap: balance; }
	h2 { font-size: 1.3em; text-wrap: balance; }
	h3 { text-wrap: balance; }

	img, svg {
		display: block;
		width: 97%;
		margin: 1.5em auto;

		@media print {
			object-fit: contain;
			max-height: 7cm;
		}
	}

	figure {
		width: 97%;
		margin: 1em auto;

		figcaption {
			text-align: center;
		}

		img, svg, pre, p, table, table img {
			box-sizing: border-box;
			width: 100%;
			margin: 0 auto;
		}

		&.no-resize {
			img, svg, pre, p, table, table img {
				width: unset;
				max-width: 100%;
			}
		}

		&.half-size {
			img, svg, pre, p, table, table img {
				width: unset;
				max-width: min(20em, 100%);
			}
		}

		&.transparent-bg-light {
			img, svg, pre, p, table {
				@media screen {
					@media (prefers-color-scheme: dark) { background-color: var(--content-light-bg-color); }
					:root.color-scheme-light & { background-color: unset; }
					:root.color-scheme-dark & { background-color: var(--content-light-bg-color); }
				}
			}
		}

		@media print {
			&.video { display: none; }
		}
	}

	img.dark-img-filter, .dark-img-filter img {
		@media screen {
			@media (prefers-color-scheme: dark) {
				filter: invert(1) hue-rotate(180deg) contrast(0.9) brightness(1.7);
			}
			:root.color-scheme-light & {
				filter: unset;
			}
			:root.color-scheme-dark & {
				filter: invert(1) hue-rotate(180deg) contrast(0.9) brightness(1.7);
			}
		}
	}

	table img {
		box-sizing: unset;
		display: unset;
		width: unset;
		margin: unset;
	}

	pre {
		margin: 1em 0;
		padding: .5em;
		overflow: auto;

		tab-size: 4;
		font-size: 90%;
	}

	code {
		padding: 0 .2em;
		font-size: 90%;
	}

	pre code {
		padding: 0;
		border: none;
		font-size: unset;
	}

	@media screen {
		pre, code, table {
			background-color: var(--light-frame-bg-color);
			color: var(--light-frame-color);
			border: 1px solid var(--light-border-color);
		}

		a:hover pre, a:hover code {
			outline: 2px solid var(--link-hover-bg-color);
		}
	}

	@media print {
		pre {
			border-top: 1px solid var(--light-border-color);
			border-bottom: 1px solid var(--light-border-color);
		}
	}

	p.mark {
		@media screen {
			border: 3px solid var(--mark-border-color);
			background-color: var(--mark-frame-bg-color);
			padding: 1ex;
			font-size: 110%;
		}

		@media print {
			border-left: 3px solid black;
			border-right: 3px solid black;
			padding-left: 1ex;
			padding-right: 1ex;
		}
	}

	div.iframe {
		position: relative;
		overflow: hidden;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}

		&.iframe-16x9 {
			padding-top: 56.25%;
		}
	}

	div.grid-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;

		@media screen and (max-width: 40em) {
			grid-template-columns: 1fr;
		}

		img {
			width: 100%;
			margin: auto;
		}

		> a:hover {
			background-color: unset;
			outline: 2px solid var(--link-hover-bg-color);
		}
	}
}

details#toc {
	margin: 1em 0;
	padding: .5em;
	border: 1px solid transparent;

	summary {
		text-decoration: underline;
		cursor: pointer;
		color: var(--link-color);
	}

	@media screen {
		&[open] {
			background-color: var(--light-frame-bg-color);
			border: 1px solid var(--light-border-color);
		}
	}

	@media print {
		display: none;
	}
}

/* highlight anchor targets */
@media screen {
	main :target { animation: highlight 2s; }
	@keyframes highlight { 10% { background: var(--anchor-target-highlight-color); } }
}

/* more space above anchor targets */
:target { scroll-margin-block: 3ex; }

/* headerlinks */
@media screen {
	a.headerlink { text-decoration: none; opacity: 0; margin-left: 1em; }
	h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover { a.headerlink { opacity: 1; } }
	a.headerlink > emoji::before { content: "🔗"; }
}
@media print {
	a.headerlink { display: none; }
}

abbr[title] {
	@media screen {
		text-decoration-color: var(--abbr-underline-color);
		cursor: help;
	}

	@media not all and (pointer: fine) {
		/* chrome on android has hover: hover :-( */
		&:hover::after, &:focus::after {
			content: " (" attr(title) ")";
		}
	}

	@media print {
		text-decoration: none;

		&::after {
			content: " (" attr(title) ")";
		}
	}
}

svg.github-sponsors {
	fill: #ea4aaa !important;
	height: 1em;
}
