body {
	background-color: #dfffcf;
	margin: 0;
	line-height: 1.3;
}

.mensi { font-size: smaller; }
.center { text-align: center; }
.right { text-align: right; }
.clear { clear: both; }

a:link { color: #000050; }
a:visited { color: #000050; }
a:hover { background-color: #080; color: white; text-decoration: none; }
svg a:hover { opacity: 0.5; }

img { border-width: 0px; }
img.middle { vertical-align: middle; }

div { padding: 0em; margin: 0em; }
p, h1, h2, h3, ul, ol, dl { margin: 10px 0px; padding: 0px; }
ul,ol,dl { margin-left: 2em; }
ul { list-style-type: square; }
ul ul { margin-bottom: 0; }
li:not(:last-child) { margin-bottom: 0.5em; }
hr { width: 80%; }
dt { margin-top: 0.5em; }
blockquote { border-left: 2px solid green; padding-left: 1ex; margin-left: 1ex; }

table {
	margin: 0.5em;
	padding: 0em;
	border-width: 0px;
}
td { padding: 0.1em 0.3em; margin: 0px; }
th { text-align: left; }
tr { vertical-align: top; }
table.border { border-width: 1px; }


div#nadpis {
	padding: 0.5em;
	background-color: #cfffbf;
}

div#content, article#content {
	padding: 1em;
}

@media screen {
	div#content, article#content {
		margin: 0 auto;
		padding: 0.5em;
		background-color: #eeffe6;
		border-bottom: 2px solid #dedede;
	}
}

@media screen and (min-width: 45em) {
	div#content, article#content {
		box-sizing: border-box;
		margin: 2em auto;
		padding: 2em;
		max-width: 45em;
		border: 2px solid #dedede;
	}
}

article#content p, article#content li {
	text-align: justify;
}

#content img, #content svg {
	display: block;
	width: 97%;
	margin: 1.5em auto;
}

#content figure {
	width: 97%;
	margin: 1em auto;
}

#content figure img, #content figure svg, #content figure pre, #content figure p {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
}

#content figure figcaption {
	text-align: center;
}

#content pre {
	margin: 1em 0;
	background-color: #f8f8ff;
	border: 1px solid #dedede;
	padding: .5em;
	overflow: auto;
	color: #222;
}

#content code {
	background-color: #f8f8ff;
	color: #222;
	padding: 0 .2em;
	border: 1px solid #dedede;
}

#content pre code {
	padding: 0;
	border: none;
}

details#toc {
	margin: 1em 0;
	padding: .5em;
	border: 1px solid transparent;
}

details#toc summary {
	text-decoration: underline;
	cursor: pointer;
	color: #000050;
}

details#toc[open] {
	background-color: #f8f8ff;
	border: 1px solid #dedede;
}


ul.posts {
	list-style-type: none;
	text-align: left;
	margin: 0;
}

ul.posts span {
	color: #333;
	font-family: monospace;
}
