body {
	margin: 0;
	line-height: 1.4;
}

a, a:link, a:visited { color: #000050; }
a:hover { background-color: #080; color: white; text-decoration: none; }
svg a:hover { opacity: 0.5; }

img { border-width: 0; }
img.middle { vertical-align: middle; }

div { padding: 0em; margin: 0em; }
p, h1, h2, h3, ul, ol, dl { margin: 1ex 0; padding: 0; }
ul,ol,dl { margin-left: 2em; }
ul { list-style-type: square; }
ul ul { margin-bottom: 0; }
li:not(:last-child) { margin-bottom: 0.5em; }
hr { width: 80%; }
dt { margin-top: 0.5em; }
blockquote { border-left: 2px solid green; padding-left: 1ex; margin-left: 1ex; }
hr { width: 90%; height: 0; border: 0; border-top: solid 1px black; background: transparent; margin: 2em auto; }
pre { tab-size: 4; }
sup { line-height: 0;  }

table {
	margin: 0.5em;
	padding: 0em;
	border-width: 0;
}
td { padding: 0.2em 0.5em; margin: 0; }
th { text-align: center; }
tr { vertical-align: top; }


body > header { padding: 0.5em; }
body > header h1 { text-align: center; }

div#content, article#content {
	padding: 1em;
}

@media screen {
	body {
		font-family: sans-serif;
		background-color: #dfffcf;
	}

	body > header {
		background-color: #cfffbf;
	}

	div#content, article#content {
		margin: 0 auto;
		padding: 0.5em;
		background-color: #eeffe6;
		border-bottom: 2px solid #dedede;
	}

	div.utterances {
		max-width: 45em;
	}
}

@media screen and (min-width: 45em) {
	div#content, article#content {
		box-sizing: border-box;
		margin: 2em auto;
		padding: 2em;
		max-width: 45em;
		border: 2px solid #dedede;
	}

	article#content p, article#content li, dl#posts p {
		text-align: justify;
	}
}

@media print {
	body {
		font-family: serif;
		margin: 0 1cm;
	}

	article#content p, article#content li, dl#posts p {
		text-align: justify;
	}

	div.utterances {
		display: none;
	}
}

dl#posts {
	margin: 0;
}

article#content header p, article#content header a { text-align: right; color: #888; }
article#content header a:hover { color: white; }

#content img, #content svg {
	display: block;
	width: 97%;
	margin: 1.5em auto;
}

#content figure {
	width: 97%;
	margin: 1em auto;
}

#content figure img,
#content figure svg,
#content figure pre,
#content figure p,
#content figure table {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
}

#content figure.no-resize img,
#content figure.no-resize svg,
#content figure.no-resize pre,
#content figure.no-resize p,
#content figure.no-resize table {
	width: unset;
	max-width: 100%;
}

#content figure figcaption {
	text-align: center;
}

#content table img {
	box-sizing: unset;
	display: unset;
	width: unset;
	margin: unset;
}

#content pre {
	margin: 1em 0;
	padding: .5em;
	overflow: auto;
}

#content code {
	padding: 0 .2em;
}

#content pre code {
	padding: 0;
	border: none;
}

@media screen {
	#content pre, #content code, #content table {
		background-color: #f8f8ff;
		color: #222;
		border: 1px solid #dedede;
	}
}

@media print {
	#content pre {
		border-top: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
	}

	#content img, #content svg {
		object-fit: contain;
		max-height: 7cm;
	}
}

@media screen {
	#content p.mark {
		border: 3px solid #c85;
		background-color: #ffefc0;
		padding: 1ex;
		font-size: 110%;
	}
}

@media print {
	#content p.mark {
		border-left: 3px solid black;
		border-right: 3px solid black;
		padding-left: 1ex;
		padding-right: 1ex;
	}
}

details#toc {
	margin: 1em 0;
	padding: .5em;
	border: 1px solid transparent;
}

details#toc summary {
	text-decoration: underline;
	cursor: pointer;
	color: #000050;
}

@media screen {
	details#toc[open] {
		background-color: #f8f8ff;
		border: 1px solid #dedede;
	}
}

@media print {
	details#toc {
		display: none;
	}
}

div.iframe {
	position: relative;
	overflow: hidden;
}

div.iframe-16x9 {
	padding-top: 56.25%;
}

div.iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

@media print {
	figure.video {
		display: none;
	}
}

/* highlight anchor targets */
@media screen {
	#content :target { animation: highlight 2s; }
	@keyframes highlight { 10% { background: #f88; } }
}

@media screen {
	abbr[title] {
		text-decoration: underline solid #888;
		cursor: help;
	}

	/* chrome on android has hover: hover :-( */
	@media not all and (pointer: fine) {
		abbr[title]:hover::after, abbr[title]:focus::after {
			content: " (" attr(title) ")";
		}
	}
}

@media print {
	abbr[title] {
		text-decoration: none;
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}
}
