/*** Nav bar styles ***/

ul#nav {
	/*Remove all spacings from the list items*/
	margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: inline;
}

ul#nav {
	display: table;
	margin-left: auto;
	margin-right: auto;
	/*width: 100%;*/
	table-layout: fixed;
}

ul#nav > li {
	display: table-cell;
	position: relative;
	padding: 0.2rem 1rem;
	vertical-align: bottom;
}

ul#nav li a {
	display: block;
}

/*** Menu colors (customizable) ***/

ul#nav, ul#nav li a {
	background-color: #bfffaf;
	color: #139;
}

ul#nav li:hover, ul#nav li:hover a {
	background-color: green;
	color: white;
}

ul#nav li:active, ul#nav li a:active {
	background-color: green;
	color: white;
	text-decoration: underline;
}

ul#nav a {
	text-decoration: none;
}

body > nav {
	background-color: #bfffaf;
	border-top: 0.1rem solid green;
	border-bottom: 0.2rem solid green;
}

@media print {
	body > nav {
		visibility: hidden;
	}
}
