#projects div.sec {
    border-top: 0.5ex solid #668;
    border-left: 0.5ex solid #668;
    padding: 10px 0 15px 15px;
    margin-top: 3em;
    background-color: #dee;
}

#projects div.sec div.sec {
    border-left: none;
    padding-bottom: 0;
}

#projects div.sec h2 {
    font-size: 160%;
    margin: 0 0 1em 0;
}

#projects div.sec div.sec h2 {
    font-size: 140%;
}

#projects div.sec a, #projects div#intro a {
    color: #004;
    text-decoration: underline;
}
#projects div.sec a:hover, #projects div#intro a:hover {
    background-color: #cfc;
}

#projects div.item {
    border-left: 0.3ex solid #668;
    padding: 5px 5px 5px 10px;
    margin-top: 1em;
    background-color: #eff;
}

#projects div.item h3 {
    font-size: 120%;
    margin: 3px 0 0.5em 0;
}

#projects div.item h4 {
    display: block;
    float: right;
    color: #333;
    margin: 2px;
}
